name: Monorepo Split

on:
  push:
    tags:
      - '[0-9]+.*'   # only run on semver-like tags, prevents accidents

jobs:
  split-monorepo:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - csuite
          - commerce-support
          - cart
          - chip
          - docs
          - filament-cart
          - filament-chip
          - filament-vouchers
          - jnt
          - stock
          - vouchers

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get current tag
        id: current-tag
        run: |
          echo "tag=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Monorepo Split of ${{ matrix.package }}
        uses: danharrin/monorepo-split-github-action@v2.4.0
        env:
          PAT: ${{ secrets.GH_ACCESS_TOKEN }}
        with:
          package_directory: 'packages/${{ matrix.package }}'
          repository_organization: 'AIArmada'
          repository_name: '${{ matrix.package }}'
          branch: 'main'
          tag: ${{ steps.current-tag.outputs.tag }}
          user_name: 'AIArmada Bot'
          user_email: 'bot@aiarmada.com'