name: Monorepo Split

on:
  push:
    tags:
      - '*'

jobs:
  split-monorepo:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - support
          - cart
          - chip
          - docs
          - filament-cart
          - filament-chip
          - filament-vouchers
          - jnt
          - stock
          - vouchers
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Get previous tag
        id: previous-tag
        uses: WyriHaximus/github-action-get-previous-tag@master
      
      - name: Monorepo Split of ${{ matrix.package }}
        uses: symplify/monorepo-split-github-action@2.3
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        with:
          package_directory: 'packages/${{ matrix.package }}'
          split_repository_organization: 'aiarmada'
          split_repository_name: '${{ matrix.package }}'
          tag: ${{ steps.previous-tag.outputs.tag }}
          user_name: 'AIArmada Bot'
          user_email: 'bot@aiarmada.com'
