name: Monorepo Split

on:
  push:
    tags:
      - '*'

jobs:
  split-monorepo:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        package:
          - csuite
          - commerce-support
          - cart
          - chip
          - docs
          - filament-cart
          - filament-chip
          - filament-vouchers
          - jnt
          - stock
          - vouchers

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get previous tag
        id: previous-tag
        uses: WyriHaximus/github-action-get-previous-tag@master

      - name: Monorepo Split of ${{ matrix.package }}
        uses: danharrin/monorepo-split-github-action@v2.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_ACCESS_TOKEN }}
        with:
          token: ${{ secrets.GH_ACCESS_TOKEN }}
          package_directory: 'packages/${{ matrix.package }}'
          repository_organization: 'AIArmada'
          repository_name: '${{ matrix.package }}'
          branch: 'main'
          tag: ${{ steps.previous-tag.outputs.tag }}
          user_name: 'AIArmada Bot'
          user_email: 'bot@aiarmada.com'
